
// ------------------------------------------------------------
// Base styles
// ------------------------------------------------------------

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  width: 100%;
  font-size: 100%;
}

body {
  font-family: $font-family;
  line-height: 1.5;
  font-weight: 500;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $gray-darker;
  color: #fff;
  overflow-x: hidden;
  margin: 0;

  &.is-fixed {
    overflow-y: hidden;
  }
}

@media screen and (min-width: $bp-xl +20) {
  html { font-size: 125%; }
}

@media screen and (max-width: $bp-md -20) {
  html { font-size: 87.5%; }
}

a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: color .2s $bezier;

  &:focus,
  &:hover {
    text-decoration: underline;
    color: #fff;
  }
}

img {
  max-width: 100%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  background-color: rgba(#fff, .15);
  margin: $s-lg 0;
  clear: both;
}

::selection {
  background-color: $brand-primary;
  color: #fff;
}
