// --------------------------------------------------------------------------
// Main header
// --------------------------------------------------------------------------

.header {
  width: 100%;
  padding: $s-md 0;
  position: fixed;
  z-index: $z-more-above;
  @include clearfix;

  .logo {
    float: left;
  }

  .nav__toggle {
    float: right;
  }

  &--dark {
    .nav__toggle > svg,
    .logo > svg {
      fill: $gray-darker;
    }
  }
}

