// --------------------------------------------------------------------------
// Logo
// --------------------------------------------------------------------------

.logo {
  width: rem(177);
  height: rem(62);
  display: block;
  will-change: transform;
  transition: transform .2s $bezier;

  &:focus,
  &:hover {
    transform: scale3d(1.1, 1.1, 1);
  }

  &--large {
    width: rem(272);
    height: rem(93);

    &:hover,
    &:focus {
      transform: scale3d(1, 1, 1);
    }
  }
}

@media screen and (max-width: $bp-md) {
  .logo {
    width: rem(137);
    height: rem(48);

    &--large {
      width: rem(177);
      height: rem(62);
    }
  }
}
