// --------------------------------------------------------------------------
// Navigation
// --------------------------------------------------------------------------

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #050505;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 0;
  z-index: $z-top;
  transform: translateY(-100%);
  transition: opacity .3s $bezier, visibility .3s $bezier, transform .3s $bezier;

  &.is-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  &__close,
  &__toggle {
    display: block;
    width: rem(24);
    height: rem(24);

    > svg {
      display: block;
      margin: 0;
      fill: #fff;
    }
  }

  &__header {
    padding: $s-md 0;
    @include clearfix;

    .nav__close { float: right; }
  }
}
