
// --------------------------------------------------------------------------
// Typography
// --------------------------------------------------------------------------

p {
  font-size: $font-size-base;
  line-height: $line-height-lg;
  margin: $line-height-md;
}

// Headings
// ------------------------------------------------------------

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $font-family;
  font-weight: 500;
  margin: 0;
}

h1, .h1 {
  font-family: $font-family;
  font-size: $font-size-h1;
  line-height: $line-height-sm;
  margin: $s-sm 0;
}

h2, .h2 {
  font-family: $font-family;
  font-size: $font-size-h2;
  line-height: $line-height-sm;
  margin: $s-sm 0;
}

h3, .h3 {
  font-size: $font-size-h3;
  line-height: $line-height-md;
  margin: $s-sm 0;
}

h4, .h4 {
  font-size: $font-size-h4;
  line-height: 1.3;
  margin: 0;
}

h5, .h5 {
  font-size: $font-size-h5;
  line-height: 1.4;
  margin: 0;
}

ul,
ol {
  font-size: $font-size-base;
  line-height: $line-height-lg;
  padding-left: 1.5em;
  margin: 0;
}

li {
  margin-bottom: rem(6);
}

blockquote {
  padding: 15px 0 15px $grid-gutter;
  margin: 27px 0;
  border-left: solid 66px $gray-light;
  color: $gray-dark;
  position: relative;

  *:last-child {
    margin: 0;
  }
}

table {
  width: 100%;
  margin-bottom: rem(36);
  font-size: $font-size-base;
  line-height: $line-height-lg;
  border-collapse: collapse;
}

thead {
  color: $gray;
}

th {
  text-align: left;
  font-weight: 600;
}

th,
td {
  padding: $s-sm 0;
  border-bottom: solid 1px rgba(#fff, .15);
  color: #828282;

  &:last-child {
    //text-align: right;
  }
}

dl {
  width: 100%;
  @include clearfix;
  font-size: $font-size-base;
  line-height: $line-height-lg;
  margin: 0;

  dt,
  dd {
    float: left;
    margin: 0 0 rem(4);
  }

  dt {
    width: 60%;
    font-weight: 900;
    clear: left;
  }

  dd {
    width: 40%;
    padding-left: $grid-gutter;
  }
}
