
// ------------------------------------------------------------
// Global variables
// ------------------------------------------------------------


// Colors
// ------------------------------------------------------------

$brand-primary: #0069E4;
$brand-shade: #202027;

$gray-lighter: #f0f0f0;
$gray-light: #C8C8C8;
$gray: #4d4d4d;
$gray-dark: #252525;
$gray-darker: #050505;


// Typography
// ------------------------------------------------------------

$font-family: "TT Norms", Helvetica, Arial, sans-serif;

$font-size-small: rem(13);
$font-size-base: rem(18);
$font-size-large: rem(25);
$font-size-h5: rem(13);
$font-size-h4: rem(18);
$font-size-h3: rem(25);
$font-size-h2: rem(36);
$font-size-h1: rem(51);

$line-height-sm: 1.1;
$line-height-md: 1.2;
$line-height-lg: 1.4;


// Positioning
// ========================================

$z-top: 1000;
$z-way-above: 100;
$z-more-above: 50;
$z-above: 10;
$z-below: -1;


// Layout
// ========================================

$grid-gutter: 32px;
$max-width: 1192px;
$min-width: 320px;
$side-spacing: 64px;


// Animation
// ========================================

$bezier: cubic-bezier(.41,.39,.26,1);

// Breakpoints
// ========================================

$bp-xxl: 1920px;
$bp-xl: 1600px;
$bp-lg: 1024px;
$bp-md: 768px;
$bp-sm: 568px;
$bp-xs: 360px;

// Space variables
// ========================================

$s-xxl: rem(288);
$s-xl: rem(144);
$s-lg: rem(72);
$s-md: rem(36);
$s-sm: rem(18);
$s-xs: rem(9);




